/* CSS Variables */
:root {
  --font-family: Arial, sans-serif;
  --primary-color: #333;
  --secondary-color: #555;
  --tertiary-color: #666;
  --background-color: #fff;
  --light-background: #f9f9f9;
  --white-color: #fff;
  --padding: 1rem;
  --margin-auto: 2rem auto;
  --border-radius: 50%;
  --box-border: 1px solid rgba(0, 0, 0, 0.1);
  --font-size-large: 1.5rem;
  --font-size-medium: 1.2rem;
  --font-size-small: 0.9rem;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
}

/* Header */
header {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: var(--padding);
}

/* Navigation */
nav {
  text-align: center;
  padding: var(--padding);
  background-color: var(--primary-color);
}

nav a {
  color: var(--white-color);
  text-decoration: none;
  margin: 0 1rem;
  font-size: var(--font-size-medium);
}

nav a:hover {
  text-decoration: underline;
}

/* Main Content */
main {
  max-width: 840px;
  margin: var(--margin-auto);
  padding: var(--padding);
  text-align: center;
  color: var(--primary-color);
  background-color: var(--light-background);
}

main h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

main img {
  width: 150px;
  height: auto;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  float: right;
}

/* Paragraph */
p {
  padding: 0;
}

/* Sidebar */
aside {
  width: 20rem;
  padding: var(--padding);
  background-color: var(--light-background);
  text-align: center;
  color: var(--primary-color);
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

aside h2 {
  font-size: var(--font-size-large);
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
  position: absolute;
  top: 47px;
  left: 150px;
  border-radius: 5px;
  background-color: var(--background-color);
}

aside p {
  font-size: 1rem;
  color: var(--tertiary-color);
}

/* Boxes */
.box {
  margin: 1rem;
  border: var(--box-border);
  padding: var(--padding);
  background-color: #ddd;
  color: #000;
}

/* Footer */
footer {
  margin-top: 15px;
  border-top: 1px solid var(--primary-color);
  text-align: center;
  padding: var(--padding);
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-size-small);
}

footer .social-links a {
  margin: 0 0.5rem;
  color: var(--white-color);
  text-decoration: none;
}
